.square {
    border: solid black;
    width: 100px;
    height: 100px;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

#container {
    display: flex;
    flex-wrap: wrap;
}